@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: "Urbanist";
    src: url("../fonts/Urbanist/Urbanist-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Urbanist";
    src: url("../fonts/Urbanist/Urbanist-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: "Urbanist";
    src: url("../fonts/Urbanist/Urbanist-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Urbanist";
    src: url("../fonts/Urbanist/Urbanist-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Urbanist";
    src: url("../fonts/Urbanist/Urbanist-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
  }
}

@theme {
  --color-primary-50: #eaedff;
  --color-primary-100: #d9deff;
  --color-primary-200: #b2bdff;
  --color-primary-300: #889dff;
  --color-primary-400: #577dff;
  --color-primary-500: #005df5;
  --color-primary-600: #004ac7;
  --color-primary-700: #00379a;
  --color-primary-800: #00266f;
  --color-primary-900: #001547;
  --color-primary-950: #000b2f;

  --default-font-family: "Urbanist", sans-serif;
}
